.section {
  background-image: url('../../../../public/images/hero.webp');
  background-size: cover;
  background-repeat: no-repeat;
  @include sizes(100%, 100vh);
  padding: 260px 0 160px;
}

.container {
  @include flexStartBetween;
  column-gap: 65px;
}