.container {
  @include grid(2);
  column-gap: 36px;
}

.title {
  @include gilroy46;
  color: $accent2700;
  margin-bottom: 12px;
}

.description {
  @include helvetica18;
  color: $accent2700;
  max-width: 544px;
  margin-bottom: 24px;
}

.form {
  @include flexColumn;
  justify-content: space-between;
}

.inputs {
  @include flexColumn;
  row-gap: 16px;
  margin-bottom: 32px;
}

.checkboxs {
  @include flexCenterBetween;
  column-gap: 40px;
}

@media (max-width: $tablet) {
  .container {
    @include grid(1);
    row-gap: 32px;
  }

  .img {
    @include sizes(100%, 200px);
    order: 1;
  }

  .title {
    margin-bottom: 10px;
  }

  .description {
    @include helvetica15;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .inputs {
    margin-bottom: 24px;
    row-gap: 12px;
  }

  .checkboxs {
    @include flexColumn;
    align-items: flex-start;
    row-gap: 32px;
  }
}
