.modal {
  position: fixed;
  @include fullSize;
  @include flexCenter;
  background: #011B1B99;
  z-index: 100;
  top: 0;
  left: 0;
}

.modalInner {
  @include sizes(660px, 754px);
  background-color: $bg100;
  position: relative;
}

.closeBtn {
  @include sizes(38px, 38px);
  border-radius: 50%;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: $accent2300;
  @include flexCenter;
  @include transition(background-color);

  @include hover {
    background-color: $accent2600;
  }

  svg {
    @include sizes(24px, 24px);
  }
}

.form {
  max-width: 428px;
  margin: 0 auto;
  padding: 16px 0 32px;
}

.formTitles {
  @include flexColumn;
  align-items: center;
  row-gap: 4px;
}

.title {
  @include gilroy32;
  text-align: center;
  color: $accent2700;
}

.description {
  @include helvetica16;
  text-align: center;
    color: $accent2700;
}

.inputs {
  margin-bottom: 24px;
}

.checkboxs {
  @include flexColumn;
  row-gap: 24px;
  align-items: center;
  justify-content: center;
}