$accent600: #E05D33;
$accent500: #E97550;
$accent300: #F39779;
$accent2300: #11414299;
$accent2600: #114142;
$accent2700: #063536;
$accent50: #1141420D;
$grey: #84848499;
$bg10: #FBFDFD0D;
$bg50: #FBFDFD99;
$bg100: #FBFDFD;
$white: #FFFFFF;
$whiteSm: #F4F4F1;