$accent600: #e05d33;
$accent500: #e97550;
$accent300: #f39779;
$accent2300: #11414299;
$accent2600: #114142;
$accent2700: #063536;
$accent50: #1141420d;
$grey: #84848499;
$bg10: #fbfdfd0d;
$bg50: #fbfdfd99;
$bg100: #fbfdfd;
$white: #ffffff;
$whiteSm: #f4f4f1;
