@mixin bold60Playfair {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
}

@mixin bold36Playfair {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

@mixin bold40Playfair {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

@mixin bold24Playfair {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 37px;
}

@mixin semibold20Inter {
  font-family: 'Inter', serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
}

@mixin medium18Inter {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  letter-spacing: -0.2px;
}

@mixin medium14Inter {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  letter-spacing: -0.15px;
}

@mixin medium16Inter {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@mixin medium14Inter {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
