.input,
.textarea {
  @include helvetica18;
  border: 1px solid $accent2700;
  padding: 20px 24px;
  transition: color 0.2s ease, border-color 0.2s ease;
  width: 100%;
  max-width: 65%;

  &:disabled {
    border-color: $grey;
  }

  &:focus {
    border-color: $accent500;
  }

  &:valid:not(:placeholder-shown) {
    border-color: $accent500;
    color: $accent2700;
  }
}

.textarea {
  height: 120px;
}

.blockFlex {
  @include flexStartBetween;
}

.label {
  @include helvetica18;
  margin-top: 20px;
  color: $accent2700;

  span {
    color: $accent500;
  }
}

@media (max-width: $tablet) {
  .blockFlex {
    @include flexColumn;
    row-gap: 8px;
  }

  .label {
    margin: 0;
  }

  .input,
  .textarea {
    max-width: 100%;
    padding: 16px 24px;
  }
}