.mapContainer {
  @include sizes(100%, 480px);
  @include flexCenter;
  background-color: $bg100;
  position: relative;
}

.map {
  @include fullSize;
  position: relative;
  z-index: 1;
}

.loading {
  @include gilroy22;
  color: $accent500;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@media (max-width: $tablet) {
  .mapContainer {
    height: 230px;
  }
}
