.slide {
  h2 {
    @include involve64;
    margin-bottom: 16px;
    color: $bg100;
  }

  p {
    @include helvetica26;
    color: $bg100;
    margin-bottom: 32px;
  }
}

.swiper {
  position: static;
}

.pagination {
  position: absolute;
  bottom: 64px !important;
  display: flex;
    column-gap: 12px;
    justify-content: center;

  span {
    @include sizes(8px, 8px);
    margin: 0 !important;
    opacity: 1;
    background-color: $white;
    border-radius: 16px;
    transition: width 0.2s ease, background-color 0.2s ease;

    @include hover {
      background-color: $accent500;
    }
  }
}
